<div class="grid-container">
  <div class="child">
    <div class="item1">ITEM1</div>
    <div class="item2">ITEM2</div>
    <div class="item3">ITEM3</div>
  </div>
  <div class="second-child">
    <div class="item4">ITEM4</div>
    <div class="item5">ITEM5</div>
    <div class="item6">ITEM6</div>
    <div class="item7">ITEM7</div>
  </div>
  <div class="third-child">
    <div class="item8">ITEM8</div>
    <div class="item9">ITEM9</div>
    <div class="item10">ITEM10</div>
    <div class="item11">ITEM11</div>
  </div>
</div>
