.grid-container {
  height: 97vh;
  display: grid;
  grid-gap: 6px;
  grid-template-columns: 80% 20%;
  grid-template-rows: 20% 80%;
  margin-right: 5px;
  .child {
    grid-column: 2;
    grid-row: 1 / 3;
    .item1 {
      height: 30%;
      margin-bottom: 6px;
      background-color: red;
    }
    .item2 {
      height: 40%;
      margin-bottom: 6px;
      background-color: blue;
    }
    .item3 {
      height: calc(100% - 70% - 12px);
      background-color: green;
    }
  }
  .second-child {
    grid-column: 1 / 2;
    grid-row: 1;
    display: flex;
    .item4 {
      width: 160px;
      height: 100%;
      margin-right: 6px;
      background-color: aqua;
    }
    .item5 {
      width: 160px;
      height: 100%;
      margin-right: 6px;
      background-color: blue;
    }
    .item6 {
      width: 160px;
      margin-right: 6px;
      background-color: green;
    }
    .item7 {
      width: 160px;
      background-color: red;
    }
  }
  .third-child {
    grid-column: 1 / 2;
    grid-row: 2;
    display: flex;
    flex-wrap: wrap;
    .item8 {
      width: 50%;
      height: 50%;
      margin-right: 6px;
      margin-bottom: 6px;
      background-color: red;
    }
    .item9 {
      height: 50%;
      width: calc(100% - 50% - 6px);
      margin-bottom: 5px;
      background-color: blue;
    }
    .item10 {
      width: 50%;
      height: calc(100% - 50% - 6px);
      margin-right: 5px;
      background-color: green;
    }
    .item11 {
      height: calc(100% - 50% - 6px);
      width: calc(100% - 50% - 6px);
      background-color: yellow;
    }
  }
}
