<div class="grid-container">
  <div class="left-container">
    <div class="first-row">
      <div class="aqua">1</div>
      <div class="red">2</div>
      <div class="yellow">3</div>
      <div class="green">4</div>
    </div>
    <div class="second-row">
      <div class="aqua">1</div>
      <div class="red mr-5">2</div>
      <div class="yellow">3</div>
      <div class="green mr-5">4</div>
    </div>
  </div>
  <div class="right-container">
    <div class="first mb-5">FIRST BLOCK</div>
    <div class="second mb-5">SECOND BLOCK</div>
    <div class="third">THIRD BLOCK</div>
  </div>
</div>
