<div class="layout">
  <div class="left-container">
    <div class="first-row">
      <div class="child aqua">1</div>
      <div class="child red">2</div>
      <div class="child yellow">3</div>
      <div class="child green">4</div>
    </div>
    <div class="second-row">
      <div class="second-child aqua mb-5">1</div>
      <div class="second-child2 red mb-5">2</div>
      <div class="second-child yellow">3</div>
      <div class="second-child2 green">4</div>
    </div>
  </div>
  <div class="right-container">
    <div class="first mb-5">FIRST BLOCK</div>
    <div class="second mb-5">SECOND BLOCK</div>
    <div class="third">THIRD BLOCK</div>
  </div>
</div>
